body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: #777;
    background: url("../images/concrete_seamless.png");
}
  
* {
    box-sizing: border-box;
    margin: 0;
}

h3 {
    position: absolute;
    bottom: 60px;
    padding: 10px;
    color: #fff;
    background: #001b3d;
    font-family: Georgia, Times, "Times New Roman", serif;
    text-align: center;
    white-space: nowrap;
}

h5 {
    position: absolute;
    bottom: 60px;
    padding: 10px;
    color: #fff;
    background: #001b3d;
    font-family: Georgia, Times, "Times New Roman", serif;
    text-align: center;
    white-space: nowrap;  
}

a {
    color: #001b3d;
}

a:hover {
    color: #6c97cc;
}

p:last-child {
    margin-bottom: 0;
}

.head-wrapper {
    padding: 0;
}

.head-container {
    padding: 0;
}

.navbar {
    background: #fff;
    border-bottom: 2px solid #cccccc;
}

#logo {
    float: left;
    width: 250px;
    height: 90px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background: #001b3d;
}

.main-container {
    margin-top: 20px;
    margin-bottom: 100px;
    padding: 0 25px 25px;
    background: #fff;
    border: 1px solid #dddddd;
}

.section-heading {
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 25px;
    color: #001b3d;
    border-bottom: 3px solid #cccccc;
    font-family: 'Georgia', Times, "Times New Roman", serif;
}

.prof-pic {
    margin: 10px 25px 10px 0;
    max-height: 250px;
}

.color-btn {
    color: #fff;
    background: #001b3d;
}

/* Sticky footer */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    font-size: 14px;
    color: #ccc;
    background: #666;
    border-top: 8px solid #001b3d;
}

/* Gallery Image width */
.gallery-img {
    width: 100%;
}

/* Hover */
#logo:hover,
input[type=submit]:hover {
    background: #6c97cc;
}

nav a:hover {
    color: #6c97cc;
}

.color-btn:hover {
    background: #6c97cc;
}
/* Hover end */

/* Minimal use of media queries, but I had to include these two to account for issues I could not resolve with Bootstrap */
@media screen and (max-width: 768px) {

    h3 {
        bottom: 50px;
        font-size: 20px;
    }

    h5 {
        bottom: 50px;
        font-size: 14px;
    }
}

@media screen and (max-width: 640px) {

    p {
        clear: both;
    }
}